
.navItem:hover{
    margin-top: 50px;
    background-color: #5db1e9;
    
    margin: 0;
}


.navItem{
    padding: 10px;
}
.logBtn:hover{
    background-color: #5db1e9;

}
.logo{
    max-height: 36px;

}
.navvvvv{

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
    
      
}
.bodyy {
    padding-top: 60px; 
  }


  .offcanvas {
    z-index: 1050; 
  }

/* 
  h1{
    background-color: black;
  } */